@model TaskEntry

<h2>Delete Confirmation</h2>

<form method="post">
    <h3>Are you sure you want to delete "@Model.TaskTitle" from the task list?</h3>

    <input type="hidden" asp-for="TaskId" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a class="btn btn-info" asp-controller="Home" asp-action="Quadrant">Cancel</a>
</form>