@{
    ViewData["Title"] = "Add/Edit Task";
}
<h1 class="center">@ViewData["Title"]</h1>

<form method="post">
    <table class="table table-borderless">
        <tr>
            <td class="td_right"><label>Task</label></td>
            <td class="td_left"><input required /></td>
        </tr>
        <tr>
            <td class="td_right"><label>Due Date</label></td>
            <td class="td_left"><input type="date" /></td>
        </tr>
        <tr>
            <td class="td_right"><label>Quadrant</label></td>
            <td class="td_left"><input /></td>
        </tr>
        <tr>
            <td class="td_right"><label>Category</label></td>
            <td class="td_left"><input /></td>
        </tr>
        <tr>
            <td class="td_right"><label>Completed</label></td>
            <td class="td_left">
                <input type="radio" value="false" checked />No
                <input type="radio" valude="true" />Yes
            </td>
        </tr>
    </table>
</form>
